@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,400&display=swap');

.container{
    border-style: hidden;
    border-radius:10px;
    
    display:flex;
    align-items:center;
    height:60px;
    justify-content:space-between;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    background-color: #137a0d;
    color:white;
    
}
.left{
    display:flex;
    width:20vw;
    justify-content:space-between;
    align-items:center;
}
#bus{
    width:50px;
    margin-left:5px;
    border-style:hidden;
    border-radius:10px;
    margin-right:50px;
    

}
li{
    text-decoration: none;
    margin-left:20px;
    margin-right:20px;
}
nav ul{
    display:flex;
    justify-content:space-around;
    align-items:center;

}
a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size:medium;
    font-weight:300;
    color:white;
}
a:hover{
    font-weight:900;
    font-size: large;
    color:rgb(145, 186, 119);
}
li{
    margin:20px;
    list-style-type: none;

}
#last{
    margin-right:100px;
}


